#menubar {

	background-color: black;
	color: white;
	text-align: center;
	margin: auto;
	width: 70%;
}

body {

<<<<<<< HEAD
	text-align: center;
=======
	text-align: center; 
>>>>>>> 9121da43b0fad1ec3fad82129024a2cecab6acba
	
}

#menubutton {

	color: grey;
	
	}
	
#bottomtext {

	text-align: center;
	position: relative;
	top: 200px;
	
<<<<<<< HEAD
	}
=======
	}
	
>>>>>>> 9121da43b0fad1ec3fad82129024a2cecab6acba
